@font-face {
	font-family: Sampler;
	src: url('/fonts/Sampler-Regular.otf') format('opentype');
}

@font-face {
	font-family: Sampler;
	font-weight: 100;
	src: url('/fonts/Sampler-Light.otf') format('opentype');
}

@font-face {
	font-family: Sampler;
	font-weight: 700;
	src: url('/fonts/Sampler-Bold.otf') format('opentype');
}

* {
	box-sizing: border-box;
}

:root {
	font-family: Sampler, sans-serif;
	line-height: 1.5;
	font-weight: 700;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

p {
	margin: 0;
}

button {
	border: none;
	font-size: 1em;
	font-weight: 700;
	background-color: black;
	cursor: pointer;
	transition: transform 100ms ease-in-out;
}

button:hover {
	transform: scale(0.95);
}
button:focus,
button:focus-visible {
	outline: none;
}
